.footer {
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    padding: 4rem 2rem;

    .nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        justify-items: center;

        
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
        list-style-type: none;

        .nav-list {
            align-self: center;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min-content, 15rem));
            
        }

        a {
            color: $color-grey-light-1;
            text-decoration: none;
            transition: all .3s;
            padding: 1rem .7rem;
            
        }

        a:hover {
            transform: translateY(-3px);
            background-color: rgba(255, 255, 255, 0.05);
        }

    }


    .copyright {
        text-align: center;
        margin-top: 4rem;

        font-size: 1.2rem;
        font-weight: 400;
        color: $color-grey-light-2;
    }


}